.h-screen {
  height: 100vh;
}

.background-main {
  background-color: gray;
}

.background-white {
  background-color: white;
}

input {
  border: 1px solid gray !important;
  height: 40px !important;
  width: 100% !important;
  padding-left: 20px;
}
input:focus {
  outline: none !important;
  border: 1px solid black !important;
}

.width-secondary {
  width: 450px;
}

.primary-btn {
  background-color: #2196F3;
  border-radius: 0 !important;
  color: white;
  height: 45px;
  text-transform: uppercase;
}

a {
  color: #2196F3;
  text-decoration: underline;
}

.divider {
  border-bottom: 1px solid gray;
  margin: 20px 0;
}